# Calculating total material amounts

This notebook shows how to calculate material amounts for each building or for the entire building stock, based on the iBuildGreen database. So far, we have associated buildings with macrocomponents, and macrocomponents with LCAbyg constructions and products. We know what component goes in what building, but we haven't quantified anything yet. This notebook is about dimensioning components and quantifying material amounts

# Setup

In [ ]:
import psycopg as pg
import pandas as pd

In [ ]:
with open('database_parameters.txt','r') as f: # Text file containing parameters to connect to the database
    params=f.read()
    f.close()

The following generic function is used to compute SQL code in Python and interact with the PostgresQL database:

In [ ]:
def run_sql (DBparameters,SQLcode):
    try:
        # connect to the PostgreSQL database
        connector = pg.connect(DBparameters)

        # create a new cursor
        cur = connector.cursor()

        # execute the SQL statement
        cur.execute(SQLcode)

        # commit the changes to the database
        connector.commit()

        # close communication with the database
        cur.close()

    except (Exception, pg.DatabaseError) as error:
        print(error)

    finally:
        if connector is not None:
            connector.close()

## Global dimensioning parameters

The parameters below are used in a first run of the model to estimate building dimensions (floor height, perimeter, etc) as we do not have precise information on building geometry at this stage.

In [ ]:
FloorHeight = 3.5 # Average distance between floors of two consecutive storeys (i.e. including the thickness of floor slabs)

In [ ]:
WindowWallRatio = 0.2 # Window-to-wall ratio

We define a space efficiency factor as the ratio between the building's actual length, and its length if the building had been square, with the same floor area.

In [ ]:
SEF = 1.2

We also define an SQL snippet to estimate the building's perimeter based on the floor area and space efficiency factor. The perimeter will be used primarily to dimension external walls and windows. At this stage, the code does not handle well buildings that have floors of different sizes. Therefore, we approximate the perimeter using the total floor area divided by the number of floors, instead of using the footprint. For instance, if the building has a 600 m2 ground floor and a 200 m2 first floor, it will be treated as having two 400 m2 floors for the purpose of dimensioning the walls (otherwise, if we used the footprint, the dimensioning function later on would multiply 600 m2 by the number of floors and overestimate the size of the building).

This could be improved later on by using BBR data about Etages (building floors). This requires importing and working with a completely different object, and linking Etages with Buildings, which entails a significant amount of work.

There are cases where the building's total floor area is missing. In such cases, the building is assumed to have one storey and a floor area equal to the footprint. This is implemented in the SQL snippet using the COALESCE function. COALESCE returns its first argument if the argument is not NULL, or its second argument otherwise.

In [ ]:
get_perimeter_sql=f"SELECT (CASE WHEN (b.byg054AntalEtager IS NULL OR b.byg054AntalEtager = 0) THEN SQRT(b.byg041BebyggetAreal)*2*(%s+1/%s) ELSE SQRT(b.byg038SamletBygningsareal/b.byg054AntalEtager)*2*(%s+1/%s) END) as perimeter" % (SEF,SEF,SEF,SEF) #Rough approximation if the building has storeys of different sizes

## Estimating the surface of internal walls

As we do not have any information on internal walls from the BBR database, we must first estimate the surface of internal walls. This first version of the model uses dimensioning functions for French buildings developed by Adélaide Mailhac (Mailhac,  A. Contribution au Développement d’une Méthodologie D’évaluation Environnementale aux Echelles Urbaines, Université de Toulouse. 2019. Available online:  https://tel.archives-ouvertes.fr/tel-02889301v2/document). </br> This might entail errors due to architectural differences between Danish and French buildings.

The surfaces of load-bearing and non-load-bearing internal walls are estimated separately based on the building's use type and its floor area. These estimated surfaces are reported in separate columns in the buildings table. First, we write SQL statements to estimate wall surfaces:

In [ ]:
fill_int_walls_lb="""
WITH iws AS (
SELECT
b.id_lokalId AS bbrid,
intwallsurface
FROM buildings b,
LATERAL (SELECT b.byg021BygningensAnvendelse::int4 AS use_code) lt1,
LATERAL (SELECT COALESCE(b.byg038SamletBygningsareal,b.byg041BebyggetAreal) AS floor_area) lt2,
LATERAL (SELECT 
         (CASE 
    WHEN use_code IN (110, 120, 121, 122, 130, 131, 132, 325, 510, 520, 521, 522, 523, 529, 530, 540, 585, 590)
        THEN 0.222 * floor_area 
    WHEN use_code IN (140, 150, 160, 185, 190, 320, 321, 322, 324, 329, 390, 410, 411, 412, 413, 414, 415, 419, 531, 532, 533, 534, 539)
        THEN floor_area * (0.4063 + 0.00003489 * floor_area)
    WHEN use_code <@ int4range(420,490)
        THEN floor_area * (0.4063 + 0.00003489 * floor_area)
    WHEN use_code <@ int4range(210,319)
        THEN floor_area*0.1
    WHEN use_code IN (323, 416,535)
        THEN floor_area*0.1
    ELSE NULL
          END) AS intwallsurface) lt
)

INSERT INTO buildings (id_lokalId,int_wall_surface_lb)
SELECT bbrid, intwallsurface FROM iws
ON CONFLICT ON CONSTRAINT buildings_pkey DO UPDATE SET (id_lokalId,int_wall_surface_lb) = (EXCLUDED.id_lokalId,EXCLUDED.int_wall_surface_lb)"""

The dimensioning of non-load-bearing internal walls uses a compacity index "icomp", calculated using the building's external surface (surface of external walls and roof) and its volume.

In [ ]:
fill_int_walls_nlb="""
WITH iws AS (
SELECT
b.id_lokalId AS bbrid,
intwallsurface
FROM buildings b,
LATERAL (SELECT b.byg021BygningensAnvendelse::int4 AS use_code) lt1,
LATERAL (SELECT COALESCE(b.byg038SamletBygningsareal,b.byg041BebyggetAreal) AS floor_area) lt2,
LATERAL (SELECT %s*floor_area AS volume) lt3,
LATERAL (%s) lt4,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NULL OR b.byg054AntalEtager = 0) THEN b.byg041BebyggetAreal+perimeter*%s ELSE b.byg041BebyggetAreal+perimeter*b.byg054AntalEtager*%s END) AS external_surface) lt5,
LATERAL (SELECT (CASE WHEN volume<=0 THEN NULL ELSE external_surface/POWER(volume,0.666667) END) AS icomp) lt6,
    LATERAL (SELECT 
         (CASE 
    WHEN use_code IN (110, 120, 121, 122, 130, 131, 132, 325, 510, 520, 521, 522, 523, 529, 530, 540, 585, 590)
        THEN 0.37 * floor_area 
    WHEN use_code IN (140, 150, 160, 185, 190, 320, 321, 322, 324, 329, 390, 410, 411, 412, 413, 414, 415, 419, 531, 532, 533, 534, 539)
        THEN floor_area * (0.1803 + 0.0883 * icomp)
    WHEN use_code <@ int4range(420,490)
        THEN floor_area * (0.1803 + 0.0883 * icomp)
    WHEN use_code <@ int4range(210,319)
        THEN floor_area*0.15
    WHEN use_code IN (323, 416,535)
        THEN floor_area*0.15
    ELSE NULL
          END) AS intwallsurface) lt
)

INSERT INTO buildings (id_lokalId,int_wall_surface_nlb)
SELECT bbrid, intwallsurface FROM iws
ON CONFLICT ON CONSTRAINT buildings_pkey DO UPDATE SET (id_lokalId,int_wall_surface_nlb) = (EXCLUDED.id_lokalId,EXCLUDED.int_wall_surface_nlb)
""" % (FloorHeight,get_perimeter_sql,FloorHeight,FloorHeight)

Then, we compute these SQL statements and insert values for internal wall surfaces in the database.

In [ ]:
run_sql(params,fill_int_walls_lb)

In [ ]:
run_sql(params,fill_int_walls_nlb)

# Getting material amounts for all elements

This section shows how to quantify material amounts for all components of all buildings in the database. These results are reported in the "results_material_amounts" table in the database.

First, we define SQL queries to computes material amounts for each type of component in each building.

In [ ]:
result_ext_wall_sql="""
WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_ext_walls bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN ext_wall_types typ
    ON bmap.ext_wall_id=typ.id
INNER JOIN ext_walls_to_subcomponents submap
    ON typ.id = submap.ext_wall_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (%s) ltp,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN perimeter*b.byg054AntalEtager*%s*(1-%s)*pmap.amount ELSE perimeter*%s*(1-%s)*pmap.amount END) AS amount_product) lta)

INSERT INTO results_material_amounts(element, product, amount, unit, bbr_id)
SELECT 'ext_wall', product, amount_product, unit, bbrid
FROM quant_table
""" % (get_perimeter_sql, FloorHeight, WindowWallRatio, FloorHeight, WindowWallRatio)

In [ ]:
result_window_sql="""
WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN subcomponents sc ON sc.name = 'Window - iBuildGreen'
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (%s) ltp,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN perimeter*b.byg054AntalEtager*%s*%s*pmap.amount ELSE perimeter*%s*%s*pmap.amount END) AS amount_product) lta)

INSERT INTO results_material_amounts(element, product, amount, unit, bbr_id)
SELECT 'window', product, amount_product, unit, bbrid
FROM quant_table
""" % (get_perimeter_sql, FloorHeight, WindowWallRatio, FloorHeight, WindowWallRatio)

In [ ]:
result_int_wall_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_int_walls bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN int_wall_types typ
    ON bmap.int_wall_id=typ.id
INNER JOIN int_walls_to_subcomponents submap
    ON typ.id = submap.int_wall_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT (b.int_wall_surface_nlb+b.int_wall_surface_lb)*pmap.amount AS amount_product) lta)

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'int_wall',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_roof_cover_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_covers bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_cover_types typ
    ON bmap.roof_cover_id=typ.id
INNER JOIN roof_covers_to_subcomponents submap
    ON typ.id = submap.roof_cover_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal/COS(b.roof_pitch*PI()*180) AS roof_surface) lt1,
LATERAL (SELECT roof_surface*pmap.amount AS amount_product) lt2)

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'roof_cover',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_roof_structure_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal/COS(b.roof_pitch*PI()*180) AS roof_surface) lt1,
LATERAL (SELECT roof_surface*pmap.amount AS amount_product) lt2
WHERE typ.name NOT IN ('Ridge board', 'Top floor ceiling'))

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'roof_structure',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_floor_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_floors bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN floor_types typ
    ON bmap.floor_id=typ.id
INNER JOIN floors_to_subcomponents submap
    ON typ.id = submap.floor_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN b.byg041BebyggetAreal*(b.byg054AntalEtager-1)*pmap.amount ELSE 0 END) AS amount_product) lta)

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'floor',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_foundation_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_foundations bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN foundation_types typ
    ON bmap.foundation_id=typ.id
INNER JOIN foundations_to_subcomponents submap
    ON typ.id = submap.foundation_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta)

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'foundation',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_ridge_board_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT SQRT(b.byg041BebyggetAreal)*%s AS beam_length) lt1,
LATERAL (SELECT beam_length*pmap.amount AS amount_product) lt2
WHERE typ.name = 'Ridge board')

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'ridge_board',product,amount_product, unit, bbrid
FROM quant_table
""" % SEF

In [ ]:
result_top_ceiling_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta
WHERE typ.name = 'Top floor ceiling')

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'top_floor_ceiling',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
result_ground_slab_sql="""WITH quant_table AS
(SELECT 
    b.id_lokalId bbrid,
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_ground_slabs bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN ground_slab_types typ
    ON bmap.ground_slab_id=typ.id
INNER JOIN ground_slabs_to_subcomponents submap
    ON typ.id = submap.ground_slab_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta)

INSERT INTO results_material_amounts(element,product,amount,unit, bbr_id)
SELECT 'ground_slab',product,amount_product, unit, bbrid
FROM quant_table
"""

In [ ]:
run_sql(params,"DELETE FROM results_material_amounts")

In [ ]:
run_sql(params,result_ext_wall_sql)

In [ ]:
run_sql(params,result_int_wall_sql)

In [ ]:
run_sql(params,result_roof_structure_sql)

In [ ]:
run_sql(params,result_roof_cover_sql)

In [ ]:
run_sql(params,result_floor_sql)

In [ ]:
run_sql(params,result_foundation_sql)

In [ ]:
run_sql(params,result_ridge_board_sql)

In [ ]:
run_sql(params,result_window_sql)

In [ ]:
run_sql(params,result_top_ceiling_sql)

In [ ]:
run_sql(params,result_ground_slab_sql)

Alternatively, we can define SQL queries to directly compute the total amounts of each material for each building. The results are stored in the "tot_materials_amounts" table.

In [ ]:
tot_ext_wall_sql="""
WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_ext_walls bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN ext_wall_types typ
    ON bmap.ext_wall_id=typ.id
INNER JOIN ext_walls_to_subcomponents submap
    ON typ.id = submap.ext_wall_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (%s) ltp,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN perimeter*b.byg054AntalEtager*%s*(1-%s)*pmap.amount ELSE perimeter*%s*(1-%s)*pmap.amount END) AS amount_product) lta)

INSERT INTO tot_material_amounts(element, product, amount, unit)
SELECT 'ext_wall', product, SUM(amount_product), unit
FROM quant_table
GROUP BY product, unit""" % (get_perimeter_sql, FloorHeight, WindowWallRatio, FloorHeight, WindowWallRatio)

In [ ]:
tot_window_sql="""
WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN subcomponents sc ON sc.name = 'Window - iBuildGreen'
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (%s) ltp,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN perimeter*b.byg054AntalEtager*%s*%s*pmap.amount ELSE perimeter*%s*%s*pmap.amount END) AS amount_product) lta)

INSERT INTO tot_material_amounts(element, product, amount, unit)
SELECT 'window', product, SUM(amount_product), unit
FROM quant_table
GROUP BY product, unit""" % (get_perimeter_sql, FloorHeight, WindowWallRatio, FloorHeight, WindowWallRatio)

In [ ]:
tot_int_wall_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_int_walls bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN int_wall_types typ
    ON bmap.int_wall_id=typ.id
INNER JOIN int_walls_to_subcomponents submap
    ON typ.id = submap.int_wall_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT (b.int_wall_surface_nlb+b.int_wall_surface_lb)*pmap.amount AS amount_product) lta)

INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'int_wall',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_roof_cover_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_covers bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_cover_types typ
    ON bmap.roof_cover_id=typ.id
INNER JOIN roof_covers_to_subcomponents submap
    ON typ.id = submap.roof_cover_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal/COS(b.roof_pitch*PI()*180) AS roof_surface) lt1,
LATERAL (SELECT roof_surface*pmap.amount AS amount_product) lt2)

INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'roof_cover',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_roof_structure_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal/COS(b.roof_pitch*PI()*180) AS roof_surface) lt1,
LATERAL (SELECT roof_surface*pmap.amount AS amount_product) lt2
WHERE typ.name NOT IN ('Ridge board', 'Top floor ceiling'))


INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'roof_structure',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_floor_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_floors bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN floor_types typ
    ON bmap.floor_id=typ.id
INNER JOIN floors_to_subcomponents submap
    ON typ.id = submap.floor_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT (CASE WHEN (b.byg054AntalEtager IS NOT NULL AND b.byg054AntalEtager > 0) THEN b.byg041BebyggetAreal*(b.byg054AntalEtager-1)*pmap.amount ELSE 0 END) AS amount_product) lta)

INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'floor',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_foundation_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_foundations bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN foundation_types typ
    ON bmap.foundation_id=typ.id
INNER JOIN foundations_to_subcomponents submap
    ON typ.id = submap.foundation_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta)

INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'foundation',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_ridge_board_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT SQRT(b.byg041BebyggetAreal)*%s AS beam_length) lt1,
LATERAL (SELECT beam_length*pmap.amount AS amount_product) lt2
WHERE typ.name = 'Ridge board')


INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'ridge_board',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit""" % SEF

In [ ]:
tot_top_ceiling_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_roof_structures bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN roof_structure_types typ
    ON bmap.roof_structure_id=typ.id
INNER JOIN roof_structures_to_subcomponents submap
    ON typ.id = submap.roof_structure_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta
WHERE typ.name = 'Top floor ceiling')


INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'top_floor_ceiling',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
tot_ground_slab_sql="""WITH quant_table AS
(SELECT 
    pr.name product,
    amount_product,
    pmap.unit unit
FROM buildings b
INNER JOIN buildings_to_ground_slabs bmap
    ON b.id_lokalId = bmap.bbr_id
INNER JOIN ground_slab_types typ
    ON bmap.ground_slab_id=typ.id
INNER JOIN ground_slabs_to_subcomponents submap
    ON typ.id = submap.ground_slab_id
INNER JOIN subcomponents sc
    ON sc.lcabyg_id = submap.subcomponent_id
INNER JOIN subcomponents_to_products pmap
    ON pmap.subcomponent_id = sc.lcabyg_id
INNER JOIN products pr
    ON pr.lcabyg_id = pmap.product_id,
LATERAL (SELECT b.byg041BebyggetAreal*pmap.amount AS amount_product) lta)


INSERT INTO tot_material_amounts(element,product,amount,unit)
SELECT 'ground_slab',product,SUM(amount_product),unit
FROM quant_table
GROUP BY product, unit"""

In [ ]:
run_sql(params,"DELETE FROM tot_material_amounts")

In [ ]:
run_sql(params,tot_ext_wall_sql)

In [ ]:
run_sql(params,tot_int_wall_sql)

In [ ]:
run_sql(params,tot_roof_structure_sql)

In [ ]:
run_sql(params,tot_roof_cover_sql)

In [ ]:
run_sql(params,tot_floor_sql)

In [ ]:
run_sql(params,tot_foundation_sql)

In [ ]:
run_sql(params,tot_ridge_board_sql)

In [ ]:
run_sql(params,tot_window_sql)

In [ ]:
run_sql(params,tot_top_ceiling_sql)

In [ ]:
run_sql(params,tot_ground_slab_sql)