# Retrieving results for specific buildings

Now that we have a database with information on all buildings, dimensioned components and estimated material amounts for each building, we can start exploiting the database and writing queries to retrieve information for specific buildings. We can import data into Pandas data frames in Python, which allow for a broad range of analyses.

### Setup

In [24]:
import psycopg as pg
import pandas as pd

In [25]:
params='dbname=macrocomponents user=postgres password=mypassword'

# Retrieving results

The following function queries the PostgresQL database to retrieve generic information about a building:

In [26]:
def properties_one_building(bbr_id):
    dic={'id_lokalId':[],'kommunekode':[],'byg026Opførelsesår':[],'byg021BygningensAnvendelse':[],'byg041BebyggetAreal':[], 'byg038SamletBygningsareal':[], 'byg054AntalEtager':[], 'byg033Tagdækningsmateriale':[], 'byg032YdervæggensMateriale':[]}
    index=[]
    
    SQL="""
    SELECT
    id_lokalId,
    kommunekode,
    byg026Opførelsesår,
    byg021BygningensAnvendelse,
    byg041BebyggetAreal,
    byg038SamletBygningsareal,
    byg054AntalEtager,
    byg033Tagdækningsmateriale,
    byg032YdervæggensMateriale
    FROM buildings
    WHERE id_lokalId=%s
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL,(bbr_id,))
        row=cur.fetchone()

        while row is not None:
            index.append(row['id_lokalid'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])
                
            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

And similarly for all buildings:

In [19]:
def properties_all_buildings():
    dic={'id_lokalId':[],'kommunekode':[],'byg026Opførelsesår':[],'byg021BygningensAnvendelse':[],'byg041BebyggetAreal':[], 'byg038SamletBygningsareal':[], 'byg054AntalEtager':[], 'byg033Tagdækningsmateriale':[], 'byg032YdervæggensMateriale':[]}
    index=[]
    
    SQL="""
    SELECT
    id_lokalId,
    kommunekode,
    byg026Opførelsesår,
    byg021BygningensAnvendelse,
    byg041BebyggetAreal,
    byg038SamletBygningsareal,
    byg054AntalEtager,
    byg033Tagdækningsmateriale,
    byg032YdervæggensMateriale
    FROM buildings
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL)
        row=cur.fetchone()     
              
        while row is not None:
            index.append(row['id_lokalid'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [93]:
properties_one_building('91146abd-87a7-44d7-b5d5-9939d04051d0')

,id_lokalId,kommunekode,byg026Opførelsesår,byg021BygningensAnvendelse,byg041BebyggetAreal,byg038SamletBygningsareal,byg054AntalEtager,byg033Tagdækningsmateriale,byg032YdervæggensMateriale
91146abd-87a7-44d7-b5d5-9939d04051d0,91146abd-87a7-44d7-b5d5-9939d04051d0,326,1900,210,143,143,1,3,8

The following function retrieves material amounts for each element in a particular building. The query converts all material amounts into kg.

In [34]:
def results_one_building(bbr_id):
    dic={'bbr_id':[],'element':[],'product':[],'weight':[],'material_type':[]}
    
    SQL="""
    SELECT
    rma.bbr_id bbr_id,
    rma.element element,
    rma.product product,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    WHERE rma.bbr_id=%s
    ORDER BY element  
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL,(bbr_id,))
        row=cur.fetchone()     
              
        while row is not None:
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic)
        
        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [35]:
results_one_building('000b7b88-7c66-4440-9e93-23bee9aa631e')

,bbr_id,element,product,weight,material_type
0,000b7b88-7c66-4440-9e93-23bee9aa631e,window,"Aluminium casement frame section, thermally se...",14.332620,Metal
1,000b7b88-7c66-4440-9e93-23bee9aa631e,window,Window frame (spruce),66.812057,Wood
2,000b7b88-7c66-4440-9e93-23bee9aa631e,window,"Aluminium frame section, thermally separated, ...",13.053710,Metal
3,000b7b88-7c66-4440-9e93-23bee9aa631e,window,Window sash (spruce),64.166039,Wood
4,000b7b88-7c66-4440-9e93-23bee9aa631e,window,EPDM sealing for aluminium section,5.512546,Other
5,000b7b88-7c66-4440-9e93-23bee9aa631e,window,"Insulated glazing, double pane",330.752777,Glass

Alternatively, we can also retrieve the total amounts of each type of material in the building. This function is a bit longer and more complex, because it aggregates rows from the "buildings_material_amounts" table into separate columns.

In [56]:
def material_amounts_one_building(bbr_id):
    dic={'bbr_id':[],'clay':[],'cement_mortar':[],'concrete':[],'gypsum_plaster':[], 'metal':[],'wood':[],'wool':[],'glass':[],'other':[]}
    index=[]
    
    SQL1="""
    CREATE TEMP TABLE IF NOT EXISTS agg_material (
        bbr_id varchar(50) PRIMARY KEY,
        Clay real,
        Cement_mortar real,
        Concrete real,
        Aggregates real,
        Gypsum_plaster real,
        Metal real,
        Wood real,
        Wool real,
        Glass real,
        Other real);"""
    
    SQL2="""
    WITH t AS(
    SELECT
    rma.bbr_id,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    WHERE rma.bbr_id=%s
    )

    SELECT
    bbr_id,
    SUM(weight) weightsum,
    material_type
    INTO TEMPORARY TABLE t2
    FROM t
    GROUP BY material_type, bbr_id;    
    """

    SQLclay="""
    INSERT INTO agg_material(bbr_id, Clay)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Clay'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Clay) = (EXCLUDED.bbr_id, EXCLUDED.Clay);
    """
    
    SQLcement="""
    INSERT INTO agg_material(bbr_id, Cement_mortar)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Cement_mortar' 
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Cement_mortar) = (EXCLUDED.bbr_id, EXCLUDED.Cement_mortar);
    """

    SQLconcrete="""
    INSERT INTO agg_material(bbr_id, Concrete)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Concrete'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Concrete) = (EXCLUDED.bbr_id, EXCLUDED.Concrete);
    """
    
    SQLaggregates="""
    INSERT INTO agg_material(bbr_id, Aggregates)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Aggregates'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Aggregates) = (EXCLUDED.bbr_id, EXCLUDED.Aggregates);
    """

    SQLgypsum="""
    INSERT INTO agg_material(bbr_id, Gypsum_plaster)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Gypsum_plaster'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Gypsum_plaster) = (EXCLUDED.bbr_id, EXCLUDED.Gypsum_plaster);
    """

    SQLmetal="""
    INSERT INTO agg_material(bbr_id, Metal)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Metal'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Metal) = (EXCLUDED.bbr_id, EXCLUDED.Metal);
    """

    SQLwood="""
    INSERT INTO agg_material(bbr_id, Wood)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wood'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wood) = (EXCLUDED.bbr_id, EXCLUDED.Wood);
    """

    SQLwool="""
    INSERT INTO agg_material(bbr_id, Wool)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wool'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wool) = (EXCLUDED.bbr_id, EXCLUDED.Wool);
    """
    
    SQLglass="""
    INSERT INTO agg_material(bbr_id, Glass)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Glass'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Glass) = (EXCLUDED.bbr_id, EXCLUDED.Glass);
    """

    SQLother="""
    INSERT INTO agg_material(bbr_id, Other)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Other'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Other) = (EXCLUDED.bbr_id, EXCLUDED.Other);
    """

    SQLselect="SELECT * FROM agg_material"
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL1)
        cur.execute(SQL2,(bbr_id,))
        cur.execute(SQLclay)
        cur.execute(SQLcement)
        cur.execute(SQLconcrete)
        cur.execute(SQLaggregates)
        cur.execute(SQLgypsum)
        cur.execute(SQLmetal)
        cur.execute(SQLwood)
        cur.execute(SQLwool)
        cur.execute(SQLglass)
        cur.execute(SQLother)
        cur.execute(SQLselect)       

        row=cur.fetchone()
        
        while row is not None:
            index.append(row['bbr_id'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [57]:
material_amounts_one_building('0000cf84-358e-4585-9337-231f99aba172')

,bbr_id,clay,cement_mortar,concrete,gypsum_plaster,metal,wood,wool,glass,other
0000cf84-358e-4585-9337-231f99aba172,0000cf84-358e-4585-9337-231f99aba172,None,544.97687,29774.602,512.26184,942.0272,244.15538,403.067,391.35196,27.522533

In [30]:
def material_amounts_all():
    dic={'bbr_id':[],'clay':[],'cement_mortar':[],'concrete':[],'gypsum_plaster':[], 'metal':[],'wood':[],'wool':[],'other':[]}
    index=[]
    
    SQL1="""
    CREATE TEMP TABLE IF NOT EXISTS agg_material (
        bbr_id varchar(50) PRIMARY KEY,
        Clay real,
        Cement_mortar real,
        Concrete real,
        Aggregates real,
        Gypsum_plaster real,
        Metal real,
        Wood real,
        Wool real,
        Glass real,
        Other real);"""
    
    SQL2="""
    WITH t AS(
    SELECT
    rma.bbr_id,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    )

    SELECT
    bbr_id,
    SUM(weight) weightsum,
    material_type
    INTO TEMPORARY TABLE t2
    FROM t
    GROUP BY material_type, bbr_id;    
    """

    SQLclay="""
    INSERT INTO agg_material(bbr_id, Clay)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Clay'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Clay) = (EXCLUDED.bbr_id, EXCLUDED.Clay);
    """
    
    SQLcement="""
    INSERT INTO agg_material(bbr_id, Cement_mortar)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Cement_mortar' 
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Cement_mortar) = (EXCLUDED.bbr_id, EXCLUDED.Cement_mortar);
    """

    SQLconcrete="""
    INSERT INTO agg_material(bbr_id, Concrete)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Concrete'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Concrete) = (EXCLUDED.bbr_id, EXCLUDED.Concrete);
    """
    
    SQLaggregates="""
    INSERT INTO agg_material(bbr_id, Aggregates)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Aggregates'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Aggregates) = (EXCLUDED.bbr_id, EXCLUDED.Aggregates);
    """

    SQLgypsum="""
    INSERT INTO agg_material(bbr_id, Gypsum_plaster)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Gypsum_plaster'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Gypsum_plaster) = (EXCLUDED.bbr_id, EXCLUDED.Gypsum_plaster);
    """

    SQLmetal="""
    INSERT INTO agg_material(bbr_id, Metal)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Metal'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Metal) = (EXCLUDED.bbr_id, EXCLUDED.Metal);
    """

    SQLwood="""
    INSERT INTO agg_material(bbr_id, Wood)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wood'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wood) = (EXCLUDED.bbr_id, EXCLUDED.Wood);
    """

    SQLwool="""
    INSERT INTO agg_material(bbr_id, Wool)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wool'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wool) = (EXCLUDED.bbr_id, EXCLUDED.Wool);
    """
    
    SQLglass="""
    INSERT INTO agg_material(bbr_id, Glass)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Glass'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Glass) = (EXCLUDED.bbr_id, EXCLUDED.Glass);
    """

    SQLother="""
    INSERT INTO agg_material(bbr_id, Other)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Other'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Other) = (EXCLUDED.bbr_id, EXCLUDED.Other);
    """

    SQLselect="SELECT * FROM agg_material"
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL1)
        cur.execute(SQL2)
        cur.execute(SQLclay)
        cur.execute(SQLcement)
        cur.execute(SQLconcrete)
        cur.execute(SQLaggregates)
        cur.execute(SQLgypsum)
        cur.execute(SQLmetal)
        cur.execute(SQLwood)
        cur.execute(SQLwool)
        cur.execute(SQLglass)
        cur.execute(SQLother)
        cur.execute(SQLselect)       

        row=cur.fetchone()
        
        while row is not None:
            index.append(row['bbr_id'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()

        results=pd.DataFrame(dic,index)
            
        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [31]:
allresults=material_amounts_all()

In [49]:
allresults.columns

Index(['bbr_id', 'clay', 'cement_mortar', 'concrete', 'gypsum_plaster',
       'metal', 'wood', 'wool', 'other'],
      dtype='object')

In [37]:
SDU=pd.read_csv('C:/Users/KJ35FA/Downloads/bhuvans data.csv', sep=';')

In [38]:
def lowercase(str):
    return str.lower()

In [39]:
SDU['bygning_id']=SDU['bygning_id'].transform(lowercase)

In [40]:
SDU.index=[x.lower() for x in SDU['bygning_id']]

In [50]:
combined=pd.merge(allresults, SDU, left_index=True, right_index=True, how='inner')
combined.columns

Index(['bbr_id', 'clay_x', 'cement_mortar', 'concrete_x', 'gypsum_plaster',
       'metal', 'wood', 'wool', 'other', 'id', 'geom', 'bygning_id',
       'ydervaeg_kode', 'suppydervaegmat', 'tag_kode', 'supptagdaekmat',
       'opfoerelse_aar', 'ombyg_aar', 'byg_anvend_kode', 'byg_arl_saml',
       'erhv_arl_saml', 'udhus_indb_arl', 'carport_indb_arl',
       'garage_indb_arl', 'udhus_indb_arl(2)', 'andet_arl', 'overdaekareal',
       'etager_ant', 'komkode', 'grund_id', 'koornord', 'kooroest',
       'archetype', 'aggregates', 'clay_y', 'concrete_y', 'glasscera',
       'metals', 'mortargyp', 'plastics', 'timber', 'othermaterials',
       'totalmaterial'],
      dtype='object')

In [45]:
archetypes=list(dict.fromkeys(combined['archetype']))
years=[0, 1850, 1930, 1950, 1960, 1972, 1978, 1998, 2006, 2010, 2100]

In [47]:
mic_dic={}

for a in archetypes:
    for n in range(1,len(years)):
        ymax=str(years[n])
        ymin=str(years[n-1])
        name=a+ymax
        q='(archetype == "'+a+'") & (opfoerelse_aar <= '+ymax+') & (opfoerelse_aar > '+ymin+')'
        mic_dic[name]=combined.query(q)

In [55]:
mic_dic['SFH1850']['clay_x'].sum()

9211670.0536

In [56]:
mic_dic['SFH1850']['byg_arl_saml'].sum()

35592

In [76]:
index=[]
mic_means=dict()
for c in combined.columns[1:9]:
    mic_means[c]=list()
for k in mic_dic.keys():
    index.append(k)
    for c in combined.columns[1:9]:
        mic=mic_dic[k][c].sum()/mic_dic[k]['byg_arl_saml'].sum()
        mic_means[c].append(mic)
mic_means=pd.DataFrame(mic_means, index)

In [81]:
mic_means=mic_means.transpose()

In [82]:
mic_means.to_excel('C:/Users/KJ35FA/Documents/Python/MICS-perm2-2301.xlsx')

# Visualization

In [47]:
import numpy as np
import matplotlib.pyplot as plt

In [64]:
boxplot = allresults.boxplot(column=['Clay','Concrete','Wood'])
boxplot.figure

NameError: name 'allresults' is not defined

In [37]:
testplot=pd.DataFrame({'year':bhuvans['opfoerelse_aar'],'floorarea':bhuvans['byg_arl_saml'],'materialperm2':bhuvans['totalmaterial']/bhuvans['byg_arl_saml']})

In [ ]:
testplot.plot.hexbin(x='year', y='floorarea', C='materialperm2', reduce_C_function=np.mean)

In [ ]:
plot=testplot.plot.scatter(x='year', y='floorarea', c='materialperm2', figsize=(18,20), xlabel='Construction year', ylabel='Floor area')

In [76]:
plot.xaxis.set_label_coords(1000,1000)

In [ ]:
plot.figure

In [ ]:
fig, ax=plt.subplots()

In [79]:
testplot.plot.scatter(x='year', y='floorarea', c='materialperm2', figsize=(18,20), xlabel='Construction year', ylabel='Floor area', ax=ax)

In [ ]:
ax.figure

In [ ]:
fig2, ax2=plt.subplots()
testplot.plot.hexbin(x='year', y='floorarea', C='materialperm2', reduce_C_function=np.mean, figsize=(18,18), xlabel='Construction year', ylabel='Floor area', ax=ax2, cmap='RdBu_r')

In [ ]:
fig3, axs = plt.subplots(2,2,figsize=(18,18),layout='constrained')

In [151]:
p=axs[0,0].scatter(bhuvans['byg_arl_saml'],testplot['materialperm2'])
axs[0,0].set_ylabel('material per m2')
axs[0,0].set_xlabel('floor area')

Text(0.5, 654.67976, 'floor area')

In [152]:
axs[0,1].scatter(bhuvans['opfoerelse_aar'],testplot['materialperm2'])
axs[0,1].set_ylabel('material per m2')
axs[0,1].set_xlabel('construction year')

Text(0.5, 654.67976, 'construction year')

In [153]:
axs[1,0].bar(bhuvans['byg_anvend_kode'],testplot['materialperm2'])
axs[1,0].set_ylabel('material per m2')
axs[1,0].set_xlabel('use code')

Text(0.5, 3.1999999999999993, 'use code')

In [154]:
p=axs[1,1].hexbin(bhuvans['byg_anvend_kode'],bhuvans['opfoerelse_aar'],C=testplot['materialperm2'], reduce_C_function=np.mean, cmap='RdBu_r')
axs[1,1].set_xlabel('use code')
axs[1,1].set_ylabel('construction year')
fig3.colorbar(p, ax=axs[1,1])

In [ ]:
fig3.figure

In [ ]:
fig4, axs = plt.subplots(2,2,figsize=(18,18),layout='constrained')

p=axs[0,0].scatter(allresults['byg038SamletBygningsareal'],testplot['amount'])
axs[0,0].set_ylabel('material per m2')
axs[0,0].set_xlabel('floor area')